
<style>
  .h1_text {
    font-size: medium;
  }
  .footer {
    position: fixed;
    bottom: 4%;
    width: 100%;
    height: 75px;

  }
  .box_footer {
    display: flex;
    justify-content: space-between;
  }
</style>
<section class="footer">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
          <h1 class="h1_text">DETERMINE THE PROBABILITY OF GETTING DIABETES</h1>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="box_footer">
      <div class="text-center p-3">Author: ThanhVo</div>
      <div class="text-center p-3">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    
    </div>
    
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>