<style>
    .container-fluid{
        display: flex;
        flex-direction: row;
        justify-items: center ;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        width: 100%;
    }
    .d-flex{
        display: flex;
        flex-direction: row;
        width: 50%;
       
    }
</style>
<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
     <a class="navbar-brand" href="#" style="margin-left: 40px;">HOME</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit" style="background-color:green; color:white;">Search</button>
    </form>
     <a class="navbar-brand" href="#" style="margin-right: 40px;">DiabetePredict</a>
  </div>
</nav>

